:root{
    --text-white: white;
    --text-black: black;

    --background-color: white;
    --foreground-color: whitesmoke;
}

body{
    color: var(--text-black);
    margin: 0;
    background-color: var(--foreground-color);
}

.header{width: 100%;height: 80px;display: flex;align-items: center;flex-direction: row-reverse;overflow: hidden;margin-top: 5px;margin-bottom: 5px;display: flex;}

.header-title{cursor: pointer;white-space: nowrap;margin-right: 20px;}

.header-links{
    position: absolute;
    top: 90px;
    left: 0;
    color: var(--text-black);
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
}

.tab-link{font-size: 1.1em;margin: 5px;cursor: pointer;}

.header-links > p{
    margin-bottom: 8px;
    margin-left: 23px;
    margin-right: 50px;
}

.tab-link:hover{
    text-decoration: underline;
}

.header-tab:hover{
    background-color: white;
}

.footer{
    margin-top: 100px;
    width: 100%;
    justify-content: space-between;
}

.footer-content{
    display: flex;
    margin-left: 20px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
}

.pm-item-container{
    
font-weight: bold;
    
width: 110px;
    
display: flex;
    
justify-content: space-evenly;
    
color: var(--text-black);
    
text-align: center;
    
line-height: 180%;
}

.pm-item{

width: 25px;

background-color: white;

user-select: none;

cursor: pointer;

height: 25px;
}

.num-item{

width: 35px;

height: 25px;

background-color: white;
}

.header-tab{
    visibility: visible;
    object-fit: contain;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

@media only screen and (min-width: 800px){
    .header-links{
    min-width: 300px;
    }
    
    .header-tab{
    }

    .header-title{
        margin-right: 30px;
    }
}